
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
  font-family: 'Roboto';
  margin: 0;
}

.navbar{
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px ;
  margin: 0;
}
.logotext{
  font-size: 24px;
  color: #f9faf8;
  text-decoration: none;

}

.menu{
  display: flex;
  gap: 16px;
  font-size: 18px;
  color: #e5e7eb;
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none
}