
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
  font-family: 'Roboto';
  margin: 0;
}

.navbar{
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px ;
  margin: 0;
  max-width: 1200px;
  flex: 1;
}

.logotext{
  font-size: 24px;
  color: #f9faf8;
  text-decoration: none;
}

.menu{
  display: flex;
  gap: 16px;
  font-size: 18px;
  color: #e5e7eb;
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px ;
  margin: 56px 0;
  max-width: 1200px;
  flex: 1;
  gap: 24px;
}

.hero{
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: #1f2937; 
}
.section{
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-basis: 600px;
}
img{
  max-width: 500px;
}
h1{
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}
p.subtext{
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

button.signup{
  background-color: #3882f6;
  padding: 8px 16px;
  border: 0;
  border-radius: 8px;
  color: #f9faf8;
  font-size: 16px;

}